Pandas Practice

In [1]:
import pandas as pd

data = {
    "cal": [420, 380, 290],
    "dur": [50,40,45]
}

df = pd.DataFrame(data)

print(df)                   #Print dataframe
print("")
print(df.loc[0])            #Print series
print("")
print(df.loc[[0]])          #Print same but as dataframe
print("")
print(df.loc[[0,1]])        #Print Slice of data frame, inclusive, slice can not be printed as series

   cal  dur
0  420   50
1  380   40
2  290   45

cal    420
dur     50
Name: 0, dtype: int64

   cal  dur
0  420   50

   cal  dur
0  420   50
1  380   40

In [ ]:
data = {
    "cal": [420, 380, 290],
    "dur": [50,40,45],
    "date": ["12121212", None, None]
}

df = pd.DataFrame(data)
print(df)
print("")

df.fillna( {"date": "11/11/11"}, inplace=True)
df["date"] = pd.to_datetime(df["date"], format='mixed')
print(df)

In [ ]:
data = {
    "cal": [420, 380, 290],
    "dur": [50,40,45]
}
df = pd.DataFrame(data)
print(df.corr())

Pandas Data Cleaning Challenge

In [7]:
import pandas as pd
import numpy as np

#Drop rows with invalid data in column
def drop_rows(df:pd.DataFrame, columns:list[str], invalid_data:list):
    for column in columns:
        for x in df.index:
            if(df.loc[x, column] in invalid_data):
                df.drop(x, inplace=True)

#Fix rows with invalid data in column
def fix_rows(df:pd.DataFrame, columns:list[str], invalid_to_correct_data:dict):
    for column in columns:
        for x in df.index:
            if( df.loc[x, column] in invalid_to_correct_data):
                df.loc[x, column] = invalid_to_correct_data[df.loc[x, column]]

#Move data in column to within acceptable range (inclusive)
def clamp_int_data(df:pd.DataFrame, columns:list[str], minimum:int, maximum:int):
    for column in columns:
        for x in df.index:
            if (type(df.loc[x, column]) is int and df.loc[x, column] < minimum):
                df.loc[x, column] = minimum
            elif(type(df.loc[x, column]) is int and df.loc[x, column] > maximum):
                df.loc[x, column] = maximum

#If data in column is a string, convert it to title
def format_as_title(df:pd.DataFrame, columns:list[str]):
    for column in columns:
        for x in df.index:
            if(type(df.loc[x, column]) is str):
                df.loc[x, column] = df.loc[x, column].title()

df = pd.read_json("books_dirty.json")

#1
empty_to_NaN = {"": np.nan}
columns = ["last_checkout"]
fix_rows(df, columns, empty_to_NaN)

#2
minimum = 1800
maximum = 2026
columns = ["publication_year"]
clamp_int_data(df, columns, minimum, maximum)

#3
#Replacing all incorrect values with NaN
columns = ["publication_year", "page_count", "average_rating", "ratings_count", "price_usd", "in_print", "sales_millions", "last_checkout", "available"]
incorrect_to_NaN = {"Unknown": np.nan, "N/A": np.nan, "Unknown": np.nan}
fix_rows(df, columns, incorrect_to_NaN)

#Fixing "true"/"false" to actual boolean values
columns = ["in_print", "available"]
string_to_bool = {"true": True, "false": False}
fix_rows(df, columns, string_to_bool)

#Clamp negative values
minimum = 0
maximum = 999999999
columns = ["page_count", "price_usd", "sales_millions"]
clamp_int_data(df, columns, minimum, maximum)

#4
df["last_checkout"] = pd.to_datetime(df["last_checkout"], format="mixed")

#5
columns = ["genre", "language", "format", "publisher"]
format_as_title(df, columns)

#6
df.drop_duplicates(subset=["author", "title"], inplace=True)

#7
#df.dropna(inplace=True)

#Change ending to .com
for x in df.index:
    seperated = df.loc[x, "publisher_email"].split('.')
    if seperated[-1] == "uk":
        seperated = seperated[:-2]
    else:
        seperated = seperated[:-1]

    df.loc[x, "publisher_email"] = ""
    for section in seperated:
        df.loc[x, "publisher_email"] += section + "."
    df.loc[x, "publisher_email"] += "com"

print(df)

                                  book_id          title     author  \
0    c28ad32d-8f9e-4456-b580-ad91d73205c4  Book Title 15  Author 27
1    dae4fc9f-9f13-4b72-9fa2-cf35979d764d   Book Title 6  Author 12
2    3a596637-6e4f-4a1d-92dd-3d30be3d203c  Book Title 17  Author 13
3    5076ac12-dcad-4f11-b501-de89c23e5917  Book Title 11  Author 13
4    c0a021f7-0149-4417-aa90-f4d0564a3b86   Book Title 6  Author 26
..                                    ...            ...        ...
487  de320c87-b06d-44f1-b557-2ab9c71ef628   Book Title 5   Author 8
491  61e5c712-8519-48b7-9445-8802711a1409  Book Title 19  Author 25
492  8fde4bbf-1b42-43eb-8afe-67d88c6e06d0   Book Title 5  Author 21
496  ba41d3bd-41f2-4ccc-8def-94f6f678284b   Book Title 4  Author 24
499  1dc98d4c-7012-48da-812f-c7055c849a6f   Book Title 9  Author 26

               genre publication_year page_count average_rating ratings_count  \
0            Romance             None       None            NaN           NaN
1         Technology             None        NaN            NaN          None
2    Science Fiction             1951       None           None          None
3            Fantasy              NaN        NaN           5.63          None
4            Mystery             None       None           3.04          None
..               ...              ...        ...            ...           ...
487          Fantasy             1930          0           None          1690
491        Biography             None        NaN            NaN           NaN
492          Romance             1818          0            4.3           427
496          History              NaN       None           2.22           722
499          History              NaN          0            NaN           NaN

    price_usd            publisher language      format in_print  \
0         NaN  Old Tree Publishing      Eng   Paperback    False
1       147.2       Galactic Books   German  Audio Book     True
2        None       Sunshine Media   French   Hardcover     True
3      141.76       Galactic Books  English  Audio Book     True
4         NaN                           Eng       Ebook     True
..        ...                  ...      ...         ...      ...
487     110.3                           Eng   Hardcover     True
491     19.68  Old Tree Publishing   German   Audiobook     None
492      9.01       Galactic Books      Eng   Hardcover    False
496       NaN     North Star Press  English   Paperback     True
499    100.28       Sunshine Media   German   Paperback    False

    sales_millions              last_checkout available  \
0            -4.45                        NaT      True
1             None                        NaT      True
2              NaN                        NaT      True
3             None                        NaT     False
4             None                        NaT      True
..             ...                        ...       ...
487          -4.45 2024-09-02 13:45:15.943893      True
491           None 2025-07-28 13:45:15.943957      None
492            NaN 2021-07-26 13:45:15.943973      True
496           3.27                        NaT      True
499           None                        NaT      True

                            publisher_email
0                   sales@galacticbooks.com
1    jp.jnguyen@support.northstar.omega.com
2                 info@eu.sunshinemedia.com
3                    team@galacticbooks.com
4                jp.sales@galacticbooks.com
..                                      ...
487     sunshinemediainfo@sunshinemedia.com
491         sunshinemedia@sunshinemedia.com
492         prime@mx.galacticbooks.core.com
496                     omega@northstar.com
499                  hello@oldtreemedia.com

[339 rows x 17 columns]